.calender {
    width: 100%;
    margin: 50px auto;
}

.month {
    border-top: 1px solid $light-grey;
    border-left: 1px solid $light-grey;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__day-labels {
        display: flex;
        width: 100%;
        > div {
            display: inline-block;
            width: 14.28%;
            height: 50px;
            padding: 5px;
            border-bottom: 1px solid $light-grey;
            border-right: 1px solid $light-grey;
        }
    }
    .day {
            display: inline-block;
            width: 14.28%;
            min-height: 100px;
            padding: 5px;
            border-bottom: 1px solid $light-grey;
            border-right: 1px solid $light-grey;
    }
}

@media (min-width: 500px){
    .calender {
        width: 90%;
    }
}